<div class="about-us-container">
  <div class="image-container">
    <p>MARVEL CORPORATE INFORMATION</p>
  </div>
  <div class="company-details">
    <div class="lhs-container">
      <div class="company-info">
        <h2>COMPANY INFO AND CONTACT</h2>
        <p>
          Marvel Entertainment, LLC, a wholly-owned subsidiary of The Walt Disney Company,
          is one of the world's most prominent character-based entertainment companies,
          built on a proven library of more than 8,000 characters featured in a variety of media over seventy-five
          years.
          Marvel utilizes its character franchises in entertainment, licensing and publishing.
        </p>
        <p>
          Marvel was started in 1939 by Martin Goodman under a number of corporations and imprints but now known as
          Timely
          Comics,and by 1951 had generally become known as Atlas Comics. The Marvel era began in 1961, the year that
          the company launched The Fantastic Four and other superhero titles created by Stan Lee, Jack Kirby, Steve
          Ditko
          and many others. The Marvel brand, which had been used over the years, was solidified as the company's primary
          brand.
        </p>
        <p>
          In 1961, writer-editor Stan Lee revolutionized superhero comics by introducing superheroes designed to appeal
          to
          older readers than the predominantly child audiences of the medium, thus ushering what Marvel later called the
          Marvel Age of Comics. Modern Marvel's first superhero team, the titular stars of The Fantastic Four #1 (Nov.
          1961),broke convention with other comic book archetypes of the time by squabbling, holding grudges both
          deep and petty, and eschewing anonymity or secret identities in favor of celebrity status. Subsequently,
          Marvel
          comics developed a reputation for focusing on characterization and adult issues to a greater extent than most
          superhero comics before them, a quality which the new generation of older readers appreciated.This
          applied
          to The Amazing Spider-Man title in particular, which turned out to be Marvel's most successful book. Its young
          hero suffered from self-doubt and mundane problems like any other teenager, something with which many readers
          could identify.
        </p>
        <p>
          Marvel counts among its characters such well-known superheroes as Spider-Man, Iron Man, Captain America, the
          Hulk, Thor, Wolverine, Ant-Man, the Wasp, Black Widow, Captain Marvel, Black Panther, Doctor Strange, Ghost
          Rider, Blade, Daredevil, the Punisher and Deadpool. Superhero teams exist such as the Avengers, the X-Men, the
          Fantastic Four and the Guardians of the Galaxy as well as supervillains including Doctor Doom, Magneto,
          Thanos,
          Loki, Green Goblin, Kingpin, Red Skull, Ultron, the Mandarin, MODOK, Doctor Octopus, Kang, Dormammu, Venom and
          Galactus.
        </p>
        <p>
          Most of Marvel's fictional characters operate in a single reality known as the Marvel Universe, with
          most locations mirroring real-life places; many major characters are based in New York City.Additionally,
          Marvel has published several licensed properties from other companies. This includes Star Wars comics twice
          from
          1977 to 1986 and again since 2015.
        </p>
        <p> For more information visit marvel.com. © 2020 MARVEL</p>
      </div>
      <div class="corporate-hq">
        <h3>Corporate Headquarters</h3>
        <div class="marvel-entertainment">
          <b>Marvel Entertainment, LLC</b>
          <div>1290 Avenue of the Americas</div>
          <div> New York, NY 10104</div>
        </div>
      </div>
      <div class="business">
        <h3>Business Inquiries</h3>
        <p>For tech support, please visit the <a href="https://www.marvel.com/help/">Help</a> Page.</p>
        <p> General phone number, Marvel Entertainment, LLC: 212-576-4000 </p>
      </div>
    </div>
    <div class="rhs-container">
      <h2>KEY MEMBERS</h2>
      <ng-container *ngFor="let key of keyMembers">
        <app-card-view [cardData]="key">
        </app-card-view>
      </ng-container>
    </div>
  </div>
</div>
