<div class="main-page">
  <app-primary-header></app-primary-header>
  <div class="router-container">
    <div class="outlet-container">
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <div class="popup-container">
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
  <app-primary-footer></app-primary-footer>
</div>
<app-notification-bar *ngIf="showNotification" [notificationData]="notificationMessage">
</app-notification-bar>
<app-loader *ngIf="showLoader">
</app-loader>
