@import "../../../assets/theme/variables";

:host {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  box-sizing: border-box;
  background-color: rgba(208, 208, 208, 0.75);
}

.form-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;


  form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 60px;
    background: $marvel-black;
    color: white;
    width: 50%;
    height: 50%;
    align-items: center;
    border-radius: 20px;
    box-shadow: 13px 10px 20px -9px rgba(0, 0, 0, 0.75);
    animation: 1s ease-out 0s 1 slideInFromTop;

    img {
      height: 50px;
      margin-left: 100px;
      margin-bottom: 20px;
    }

    .memo {
      width: 100%;
      justify-content: center;
      display: flex;
      padding-left: 20px;
      padding-bottom: 10px;
      font-style: italic;
    }

    .form-control-container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 10px;

      .form-label {
        padding-right: 10px;
        flex-basis: 115px;
        font-size: 24px;
      }

      input {
        width: 50%;
        height: 35px;
        outline: none;
        border: none;
        font-size: 16px;
        background: white;
      }
    }

    .form-footer {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 10px;

      .empty {
        flex-basis: 125px;
      }

      button {
        position: relative;
        border: none;
        padding: 0 30px;
        height: 40px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        transition: .4s;
        cursor: pointer;
        border-radius: 10px;
        outline: none;

        //&:before{
        //  position: absolute;
        //  content: '';
        //  left: 0;
        //  top: 0;
        //  width: 0;
        //  height: 0;
        //  border: none;
        //  border-left: solid 21px;
        //  border-bottom: solid 41px transparent;
        //  z-index: 1;
        //  transition: .4s;
        //}
        //&:after {
        //  position: absolute;
        //  content: '';
        //  right: 0;
        //  top: 0;
        //  width: 0;
        //  height: 0;
        //  border: none;
        //  border-left: solid 21px transparent;
        //  border-bottom: solid 41px;
        //  z-index: 1;
        //  transition: .4s;
        //}
      }

      .primary-btn {
        color: white;
        background: $marvel-red;
        margin-right: 10px;

        &:hover {
          background: $marvel-hover-red;
        }
      }

      .secondary-btn {
        color: white;
        background: $marvel-black;
        border: solid 1px white;

        &:hover {
          border: solid 1px $marvel-hover-red;
        }
      }
    }
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
