@import "../../../assets/theme/main-mixins";
@import "../../../assets/theme/variables";

:host {
  height: 100%;
  width: 100%;
}

section {
  display: flex;
}

.wanda-vision {
  background: $marvel-black;
  color: white;
  align-items: center;

  .lhs-container {
    flex-basis: 50%;
    padding: 10px;
    position: relative;
    display: flex;

    &:before {
      content: "";
      position: absolute;
      left: 100%;
      width: 0;
      height: 0;
      z-index: 1;
      right: 0;
      bottom: 72%;
      border: none;
      border-left: solid 58px $marvel-black;
      border-bottom: solid 132px transparent;
    }

    &:after {
      left: 100%;
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border: none;
      bottom: 0;
      border-right: solid 116px transparent;
      border-bottom: solid 272px $marvel-black;
      z-index: 1;
    }

    .wanda-vision-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      img {
        height: 80px;
      }

      p {
        padding: 2px;
      }

      .btn-container {
        padding-top: 10px;

        .secondary-btn {
          @include secondary_button();

          &:first-child {
            margin-right: 10px;
          }
        }
      }

    }
  }

  .rhs-container {
    flex-basis: 50%;

    img {
      height: 350px;
    }
  }
}

.exclusive {
  background-image: url(https://i.annihil.us/u/prod/marvel/i/mg/2/f0/4bc6670c80007/detail.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
  display: flex;

  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(65px);
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  .img-container {
    z-index: 2;
    display: flex;
    flex-basis: 30%;
    justify-content: flex-start;
    background: black;
    border-radius: 10px;

    img {
      height: 500px;
      border-radius: 10px;
    }
  }

  .comic-description {
    z-index: 2;
    flex-basis: 70%;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .memo {
      color: $marvel-red;
      font-weight: bold;
      text-transform: uppercase;
    }

    .title {
      text-transform: uppercase;
    }

    .description {
      word-break: break-word;
    }

    .btn-container {
      display: flex;
      justify-content: flex-start;
    }

    .primary-btn {
      @include primary_button();
    }
  }
}

.news {
  .news-wrap {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .news-row {
      flex-basis: 50%;
      display: flex;

      .card-wrap {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        padding: 10px;

        img {
          height: 300px;
          border-radius: 10px;
        }

        a {
          margin-top: 10px;
          @include link();
        }
      }
    }
  }
}

.separator {
  border-bottom: 25px solid transparent;
  width: 100%;
}
